[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple/"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
rpi-gpio = "*"
explorerhat = "*"
smbus-cffi = "*"

[requires]
python_version = "3"

[scripts]
start = "jupyter notebook"
